<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Novo Local
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dados" :selected="true">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Dados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comodos">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Cômodos</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>