<ion-toolbar></ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="remove(item)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row class="ion-justify-content-center" *ngIf="items.length === 0">
    <ion-chip color="secondary">
      <ion-label color="dark">Nenhum cômodo registrado</ion-label>
    </ion-chip>
  </ion-row>
  
   <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="formPrompAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>