<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-item href="#">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>Vistoria</ion-label>
          <ion-button routerLink="/vistoria" routerDirection="root" color="success" fill="outline" slot="end">Criar</ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-item href="#">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>Local</ion-label>
          <ion-button routerLink="/local" routerDirection="root" color="success" fill="outline" slot="end">Criar</ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-item href="#">
          <ion-icon name="copy" slot="start"></ion-icon>
          <ion-label>Vistorias Realizadas</ion-label>
          <ion-button color="primary" fill="outline" slot="end">Ver</ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
